@use "@/styles/variables" as *;

.header {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  // max-width: 1400px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: $primary-color;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
.banner {
width: 100%;
display: flex;



img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block; 
}

 @media (max-width: 768px) {
    display: none; 
  }
}

.logoIcon {
  font-size: 1.8rem;
}
.logoText {
    size: 20px;
    color: $primary-color;
}

.nav {
  // display: none; 
    display: flex;
  gap: 16px;
  
  @media (max-width: 768px) {
    display: flex; 
  }
}

.navLink {
    text-decoration: none;
    color: $primary-color;
    font-size: 1rem;
    transition: color 0.2s;
    
    &--active {
        color: $accent-color;
       &:hover {
            color: $button-primary-bg-hover;
        }
    }

  &:hover {
    color: $button-primary-bg-hover;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconButton {
  text-decoration: none;
  color: $primary-color;
  font-size: 1.4rem;
  transition: color 0.2s;
  
  &:hover {
    color: $primary-color;
  }
}