.multi-dropdown {
  display: flex;
  flex-direction: column;
  gap: var(--space-xxs);
  position: relative; 

  &-input {
    width: 100%;
    cursor: pointer;

    :global(.after-slot) {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;
      
      svg {
        width: 20px;
        height: 20px;
        color: #AFADB5; 
        transition: color 0.2s ease;
      }
    }


    &:hover :global(.after-slot svg) {
      color: var(--accent-color);
    }
  }

  &--open {
    .multi-dropdown-input :global(.after-slot) {
      transform: rotate(180deg);
    }
  }

  &-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--button-primary-text);
    box-shadow: 0px 4px 10px 0px #00000040;
    color: var(--primary-color);
    margin-top: 5px; 
    border-radius: 5px;
    max-height: 300px;
    overflow-y: auto;
  }

  &-option {
    display: flex;
    align-items: center;
    padding: var(--space-s) var(--space-xs);
    cursor: pointer;

    &:hover {
      background-color: var(--button-primary-bg-hover);
    }

    &--selected {
      background-color: var(--accent-color);
      color: white;
    }
  }

  &--empty {
    padding: var(--space-s) var(--space-xs);
    text-align: center;
    color: #999;
  }
}